<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangyongxin.demo.mapper.InspectUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zhangyongxin.demo.model.InspectUserInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="head_src" property="headSrc" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="begin_date" property="beginDate" jdbcType="DATE" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="ranges" property="ranges" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="credentials" property="credentials" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
  </resultMap>

  <update id="logicalDeleteByPrimaryKey" parameterType="InspectUserInfo">
    update inspect_user_info set is_delete = 1,update_user_id=#{updateUserId} where id =#{id}
  </update>

  <select id="queryList" parameterType="InspectUserInfo" resultMap="BaseResultMap">
    select * from inspect_user_info where is_delete =0
    <if test="@com.zhangyongxin.demo.util.Ognl@isNotEmpty(name)">
      and name like concat('%',#{name},'%')
    </if>
    <if test="@com.zhangyongxin.demo.util.Ognl@isNotEmpty(tel)">
      and tel = #{tel}
    </if>
  </select>

</mapper>