<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangyongxin.demo.mapper.InspectOrderMapper" >
  <resultMap id="BaseResultMap" type="com.zhangyongxin.demo.model.InspectOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="inspect_user_id" property="inspectUserId" jdbcType="INTEGER" />
    <result column="applier" property="applier" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="apply_date" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="team_title" property="teamTitle" jdbcType="VARCHAR" />
    <result column="is_connect" property="isConnect" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="ExpandResultMap" type="com.zhangyongxin.demo.model.InspectOrderExpand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="inspect_user_id" property="inspectUserId" jdbcType="INTEGER" />
    <result column="applier" property="applier" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="apply_date" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="inspectUserName" property="inspectUserName" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="pre_money" property="preMoney" jdbcType="VARCHAR" />
    <result column="actual_money" property="actualMoney" jdbcType="VARCHAR" />
    <result column="super_visor" property="superVisor" jdbcType="INTEGER" />
    <result column="team_id" property="teamId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="teamName" property="teamName" jdbcType="VARCHAR" />
    <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
    <result column="team_title" property="teamTitle" jdbcType="VARCHAR" />
    <result column="is_connect" property="isConnect" jdbcType="INTEGER" />
  </resultMap>
  <select id="queryList"  parameterType="com.zhangyongxin.demo.model.InspectOrderExpand" resultMap="ExpandResultMap">
    select b.name inspectUserName,a.* from inspect_order a
    left join inspect_user_info b on a.inspect_user_id = b.id
    where a.is_delete = #{isDelete}
    <if test="orderType != null">
      and a.order_type = #{orderType}
    </if>
    <if test="status != null">
      and a.status = #{status}
    </if>
    <if test="@com.zhangyongxin.demo.util.Ognl@isNotEmpty(applier)">
      and a.applier like concat('%',#{applier},'%')
    </if>
    <if test="@com.zhangyongxin.demo.util.Ognl@isNotEmpty(tel)">
      and a.tel like concat('%',#{tel},'%')
    </if>
    <if test="type != null">
      and a.type = #{type}
    </if>
    <if test="@com.zhangyongxin.demo.util.Ognl@isNotEmpty(region)">
      and a.region like concat('%',#{region},'%')
    </if>
    <if test="@com.zhangyongxin.demo.util.Ognl@isNotEmpty(inspectUserName)">
      and b.name like concat('%',#{inspectUserName},'%')
    </if>
    <if test="payStatus != null and payStatus == 2">
      and a.pay_status = 2
    </if>
    <if test="payStatus != null and payStatus == 1">
      and a.pay_status != 2
    </if>
      <if test="@com.zhangyongxin.demo.util.Ognl@isNotEmpty(startDate)">
          and a.apply_date &gt; #{startDate} and a.apply_date &lt; DATE_FORMAT(#{endDate}, '%Y-%m-%d 23:59:59')
      </if>
  </select>

  <select id="queryOrderList"  parameterType="com.zhangyongxin.demo.model.InspectOrderInVO" resultMap="ExpandResultMap">
    select b.name inspectUserName,a.*, c.title teamName from inspect_order a
    left join inspect_user_info b on a.inspect_user_id = b.id
    left join yb_team_buy c on a.team_id = c.id
    where a.is_delete = 0
    <if test="type != -1">
      and status in
      <foreach collection="statusArr" index="" separator="," item="i" open="(" close=")">
        #{i}
      </foreach>
    </if>
    and (
      a.create_user_id = #{createUserId}
      <if test="tel != null and tel != ''">
        or b.tel = #{tel} or a.tel = #{tel}
      </if>
      <if test="tel != null and tel != '' and (tel == '15005166488' or tel == '13888888888')">
        or 1 = 1
      </if>
    )
  </select>

  <select id="queryOrderByOutTradeNo" resultMap="BaseResultMap">
    select * from inspect_order
    where out_trade_no = #{outTradeNo} and is_delete = 0
    limit 1
  </select>

  <update id="updatePayStatus">
    update inspect_order
    set pay_status = 2,pay_type = 0, is_delete = 0
    where out_trade_no = #{outTradeNo}
  </update>

  <update id="revertOrder">
    update inspect_order
    set is_delete = 0
    where id = #{id}
  </update>
</mapper>