<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangyongxin.demo.mapper.YbTeamBuyMapper" >
  <resultMap id="BaseResultMap" type="com.zhangyongxin.demo.model.YbTeamBuy" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="head_src" property="headSrc" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="teamCount" property="teamCount" jdbcType="INTEGER" />
    <result column="unit_price" property="unitPrice" jdbcType="VARCHAR" />
    <result column="min_area" property="minArea" jdbcType="VARCHAR" />
    <result column="people" property="people" jdbcType="INTEGER" />
    <result column="advance_money" property="advanceMoney" jdbcType="VARCHAR" />
  </resultMap>

  <update id="logicalDeleteByPrimaryKey" parameterType="YbTeamBuy">
    update yb_team_buy set is_delete = 1,update_user_id=#{updateUserId} where id =#{id}
  </update>

  <select id="queryList" parameterType="YbTeamBuy" resultMap="BaseResultMap">
    select a.*,
    (select count(1) from inspect_order where order_type = 5 and is_delete = 0 and team_id = a.id) teamCount
    from yb_team_buy a where is_delete =0
    <if test="@com.zhangyongxin.demo.util.Ognl@isNotEmpty(title)">
      and title like concat('%',#{title},'%')
    </if>
    <if test="type != null">
      and type = #{type}
    </if>
  </select>
</mapper>